body{
  display: flex;
  align-items: center;
  justify-content: center
}
.animate {
opacity: 0;
animation: dash2 5s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
width: auto;
height: 80%;
}
.animate2 {
opacity: 0;
animation: dash 3s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
width: auto;
}

/*.group:hover *{
  stroke:red;
}*/
.tesla:hover{
  stroke:#666;
}
.watson:hover{
  stroke:green;
}
.sound:hover{
  stroke:blue;

}
.vimeo:hover{
  stroke:purple;

}
.old:hover{
  stroke:red;

}
.mock:hover{
  stroke:orange
}

.animatehex{
opacity: 0;
animation: dash 2s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
}
.animateheart{
opacity: 0;
animation: dash 5s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
width: auto;
animation-delay:1s;
height: 20%;
}
@keyframes dash {
0% {
opacity: 1;
stroke-dasharray: 2000;
stroke-dashoffset: 2000;
}
50% {
opacity: 1;
stroke-dasharray: 1000;
stroke-dashoffset: 5;
}
100% {
opacity: 1;
stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}
@keyframes dash2 {
0% {
opacity: 1;
stroke-dasharray: 10;
stroke-dashoffset: 100;
}
50% {
opacity: 1;
stroke-dasharray: 500;
stroke-dashoffset: 5;
}
100% {
opacity: 1;
stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}
