@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'yeehex';
    src: url(YeeHex.woff) format('woff');
}
@font-face {
    font-family: 'yeehex0';
    src: url(YeeHex0.woff) format('woff');
}
@font-face {
    font-family: 'AGBK';
    src:
	     url('ITCAvantGardeStd-Bk.woff') format('woff'),
	     url('ITCAvantGardeStd-Bk.ttf')  format('truetype'),
	     url('ITCAvantGardeStd-Bk.svg') format('svg');

}


html {
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  font-smooth: never;
 -webkit-font-smoothing: antialiased;
 overflow-x: hidden;

}
@keyframes trainN {
  0% {
  opacity: 1;
  stroke-dasharray: 12;
  stroke-dashoffset: 100;
  }

  100% {
  opacity: 1;
  stroke-dasharray: 12;
  stroke-dashoffset: 52;
  }
  }
  @keyframes trainS {
    0% {
    opacity: 1;
    stroke-dasharray: 12;
    stroke-dashoffset: 52;
    }

    100% {
    opacity: 1;
    stroke-dasharray: 12;
    stroke-dashoffset: 100;
    }
    }
    @keyframes dashsouth {
    0% {
    opacity: 1;
    stroke-dasharray: 6;
    stroke-dashoffset: 100;
    }

    100% {
    opacity: 1;
    stroke-dasharray: 6;
    stroke-dashoffset: 52;
    }
    }
    @keyframes dashnorth {
      0% {
      opacity: 1;
      stroke-dasharray: 6;
      stroke-dashoffset: 52;
      }
    100% {
    opacity: 1;
    stroke-dasharray: 6;
    stroke-dashoffset: 100;
    }
    }
@keyframes rotate{

0%{
  -ms-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
transform: rotate(0deg);

}
100%{
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
transform: rotate(360deg);

}
}
@keyframes stop{

0%{
  -ms-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
transform: rotate(0deg);

}
100%{
  -ms-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
transform: rotate(0deg);

}
}
@keyframes blink{

0%{
  opacity:0

}
50%{
  opacity: 1
}
100%{
  opacity:0

}
}
@keyframes watchfade {
  0%{
    opacity:0

  }
  40%{
    opacity:0

  }
  50%{
    opacity: 1
  }
  90%{
    opacity: 1
  }
  100%{
    opacity:0
  }
}
@keyframes transition{

0%{
  opacity:0
}
10%{
  opacity: 1
}
30%{
  opacity: 1
}
40%{
  opacity: 0
}
100%{
  opacity:0
}
}
@keyframes movedown{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,10px);
  -webkit-transform:translate(0,10px);
  transform: translate(0,10px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes movedown2{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,25px);
  -webkit-transform:translate(0,25px);
  transform: translate(0,25px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes moveup{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,-10px);
  -webkit-transform:translate(0,-10px);
  transform: translate(0,-10px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes moveup2{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,-25px);
  -webkit-transform:translate(0,-25px);
  transform: translate(0,-25px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes smovedown{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,2.5px);
  -webkit-transform:translate(0,2.5px);
  transform: translate(0,2.5px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes smovedown2{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,6.25px);
  -webkit-transform:translate(0,6.25px);
  transform: translate(0,6.25px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes smoveup{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,-2.5px);
  -webkit-transform:translate(0,-2.5px);
  transform: translate(0,-2.5px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes smoveup2{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
50%{
  -ms-transform:translate(0,-6.25px);
  -webkit-transform:translate(0,-6.25px);
  transform: translate(0,-6.25px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}
@keyframes scrubber{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
45%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
100%{
  -ms-transform:translate(120px,0);
  -webkit-transform:translate(120px,0);
  transform: translate(120px,0);

}

}
@keyframes clockmove{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
23%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
25%{
  -ms-transform:translate(-239px,0px);
  -webkit-transform:translate(-239px,0px);
  transform: translate(-239px,0px);

}
48%{
  -ms-transform:translate(-239px,0px);
  -webkit-transform:translate(-239px,0px);
  transform: translate(-239px,0px);

}
50%{
  -ms-transform:translate(-477.5px,0px);
  -webkit-transform:translate(-477.5px,0px);
  transform: translate(-477.5px,0px);

}
73%{
  -ms-transform:translate(-477.5px,0px);
  -webkit-transform:translate(-477.5px,0px);
  transform: translate(-477.5px,0px);

}
75%{
  -ms-transform:translate(-239px,0px);
  -webkit-transform:translate(-239px,0px);
  transform: translate(-239px,0px);

}
98%{
  -ms-transform:translate(-239px,0px);
  -webkit-transform:translate(-239px,0px);
  transform: translate(-239px,0px);

}
100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
}

@keyframes tonemove{
  0%{
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  transform: translate(0,0);

}
45%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}
50%{
  -ms-transform:translate(-242px,0px);
  -webkit-transform:translate(-242px,0px);
  transform: translate(-242px,0px);

}
95%{
  -ms-transform:translate(-242px,0px);
  -webkit-transform:translate(-242px,0px);
  transform: translate(-242px,0px);

}

100%{
  -ms-transform:translate(0,0);
  -webkit-transform:translate(0,0);
transform: translate(0,0);

}

}
#link7{
  transform-origin: center;
opacity: 1;

}

a{
  color:black;
  text-align: left;
  text-decoration: none;
}
.info{
  position: absolute;
  top:880vh;
  left:10vw;
  color:black;
  width: 90%;
  pointer-events: all;
}
.info a{
  color:black
}
.info a:hover{
  text-decoration: underline;
}
.timeline{
  opacity: 1;
  position: absolute;
  width: 0;
  top:37.5vh;
  left:40vw;
  height: 25vh;
  background-color:#666;
  z-index: 9999;
  mix-blend-mode: lighten;
  transition: .5s;
  pointer-events: none;


}
.timelineanim{
  opacity: 1;
  position: absolute;
  width: 60vw;
  left:40vw;
  top:37.5vh;
  height: 25vh;
  background-color:#666;
  z-index: 9999;
  mix-blend-mode: lighten;
  transition: .5s;
  pointer-events: none;



}
body{

  font-family: 'AGBK';
  border: 0;
  margin: 0;
  transition: .2s;
  overflow-x: hidden;
  background-color: white;
}
#heart{
height: 50vh;
}
.page1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'AGBK';
  border: 0;
  margin: 0;
  padding: 0;
  transition: .5s;
  height: 100vh;
  width: 100%;
}
.page2{
  border: 0;
  margin: 0;
  padding: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

  height: 100vh;
  width: 100%;
}
.textblockcontainerR{
  width: 30vw;
  margin-left: 10vw;
}
.textblockcontainerL{
  width: 30vw;
  margin-right: 10vw;
}
.blurb{
  width: 120%;
  height: 100vh;
  font-size: 40px;
  overflow-wrap: break-word;
 word-wrap: break-word;
 font-family: 'yeehex';
 pointer-events: none;
overflow: hidden;
line-height: 31px;

}
.blurbcontainer{
  border: 0;
  margin: 0;
  padding: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

  height: 0vh;
  width: 100vw;
  pointer-events: none;

}
#railways{
  height: 80vh;
}
#clock{
 height: 80vh;
}
#tone{
  height: 80vh;
}
.scrubber{
  animation: scrubber 6s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
#tonecontainer{
  transform-origin: center;
  animation: tonemove 6s infinite cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
}
.tonemove1{
animation: moveup2 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite
}
.tonemove2{
  animation: moveup 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
.tonemove4{
  animation: movedown 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
.tonemove5{
  animation: movedown2 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
.tonemove11{
animation: smoveup2 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite
}
.tonemove22{
  animation: smoveup 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
.tonemove44{
  animation: smovedown 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
.tonemove55{
  animation: smovedown2 1s cubic-bezier(0.670, 0.005, 0.200, 1.000) infinite

}
#citiestop{
  opacity: 0;
  animation: transition 12s infinite cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
}
#cities{
  transform-origin: center;
  animation: clockmove 12s infinite cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

svg{
}
.squiggle{
  opacity: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
nav{
  position: absolute;
  top:72vh;
  left:50vw;
  width: 40vh;
  font-size: 4vh;
  margin-left: 0vw;
  position: absolute;
  transition: .5s;
  z-index: 999;
  -ms-transform: rotate(-30deg); /* IE 9 */
   -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
   transform: rotate(-30deg);
   pointer-events: none;
}
.descriptcontainer{
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blend{

  background-color: transparent;

}
.largecontainer{
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
pointer-events: all;

  z-index: 999;

}
.halfcontainer1{
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.halfcontainer2{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description{
  display: block;
  width: 50%;
  margin: 0;
  font-weight: normal;

}
.spacer{

  width: 0;
  animation: slide 1s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.title{
font-size:calc(18px + 4vw);


}
.animate {
opacity: 1;
animation: dash 2s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
width: 50vw;
height: auto;
margin-right: 0;

}
.animate2 {
opacity: 1;
animation: dash 1s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
width: 100%;
}

/*.group:hover *{
  stroke:red;
}*/
a{

}
#logo{
  cursor: pointer;
}



.animatedelay{
  opacity: 1;

  /*animation: dash 2s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-delay:.2s;*/
}
.animatehex{
opacity: 1;
animation: dash 2s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-iteration-count: 1;
animation-fill-mode: forwards;
}


.animateheart{
opacity: 0;
animation: dash 2s cubic-bezier(0.670, 0.005, 0.200, 1.000);
animation-fill-mode: forwards;
width: auto;
animation-delay:.5s;
height: 20%;
}
.background{
  animation: fadeblack 1s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
}
@keyframes fadeblack{
  0% {
    background-color: white
  }
  100%{
    background-color: black;
  }
}
@keyframes fade{
  0% {
opacity: 0
 }
  100%{
opacity: 1
 }
}
@keyframes pointer{
  0%{
    pointer-events: all
  }
  100%{
    pointer-events: none
  }
}
@keyframes slide{
  0%{
    opacity: 0;
    width: 0
  }
  100%{
    opacity: 1;

    width: 45%
  }
}
@keyframes slideM{
  0%{
    opacity: 0;

    height: 0
  }
  100%{
    opacity: 1;

    height: 40vh
  }
}
@keyframes colors {

  0% {
    stroke: green;
  }
  25% {
    stroke: yellow;
  }
  50% {
    stroke: blue;
  }
  75% {
    stroke: red;
  }
  100% {
    stroke: purple;
  }
}
@keyframes colorsS {

  0% {
    stroke: #5710b6;
  }
  50% {
    stroke: #4759db;
  }
  100% {
    stroke: #8afffe;
  }

}
@keyframes dash {
0% {
  opacity: 1;
stroke-dasharray: 2000;
stroke-dashoffset: 2000;
}
50% {
  opacity: 1;

stroke-dasharray: 1000;
stroke-dashoffset: 5;
}
100% {
  opacity: 1;

stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}
@keyframes dashphone {
0% {
stroke-dasharray: 2000;
stroke-dashoffset: 2000;
}
50% {
stroke-dasharray: 1000;
stroke-dashoffset: 5;
}
100% {
stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}

@keyframes dash2 {
0% {
opacity: 1;
stroke-dasharray: 10;
stroke-dashoffset: 100;
}
50% {
opacity: 1;
stroke-dasharray: 500;
stroke-dashoffset: 5;
}
100% {
opacity: 1;
stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}
@keyframes dash3 {
  0% {
  opacity: 1;
  stroke-dasharray: 50;
  stroke-dashoffset: 100;
  }

  100% {
  opacity: 1;
  stroke-dasharray: 50;
  stroke-dashoffset: 5;
  }
  }
@media screen and (max-width: 600px) {
  .animate{
    width: auto;
  height: 50vh;

}
/*.hidelink:active{
  pointer-events: none;
}*/
html{
}
body{
  position: relative;
  flex-direction: column;
}
.page1{
  flex-direction: column-reverse;

}
.page2{
  flex-direction: column;
}

a{
  text-align: center;
  text-decoration: none;

}
a:active{
  pointer-events: all;
}

.largecontainer{
  pointer-events: none;
  flex-direction: column-reverse;
}
.spacer{
  width: 100%;
  height: 0;
  animation: slideM 1s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.description{
  text-align: left;
  width: 80%;
  pointer-events: all;
}
.halfcontainer1{
  width: 100%;
  height: 60vh;
  flex-direction: column;
  justify-content: flex-end;
}
.halfcontainer2{
  width: 100%;
  height: 40vh;
  justify-content: flex-start;
}
.timeline{
  opacity: 1;
  position: absolute;
  width: 0;
  top:17.5vh;
  left:0;
  height: 25vh;
  background-color:#666;
  z-index: 9999;
  mix-blend-mode: lighten;
  transition: .5s;


}
.timelineanim{
  opacity: 1;
  position: absolute;
  width: 100%;
  left:0;
  top:17.5vh;
  height: 25vh;
  background-color:#666;
  z-index: 9999;
  mix-blend-mode: lighten;
  transition: .5s;


}
.info{


}
.info a{
}
}
